body {
    background-color: #ecf7ff;
    color: #001a13;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

h1 {

    color: GhostWhite;
    text-align: center;
}

h2 {
    background-color: #91b5d0;
    color: AliceBlue;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    background-image: url(Pacman.jpg);
    background-repeat: no-repeat;
    background-position: 5px, left;
    background-size: 1.5em;
}

p {
    font-size: 1em
}

a {
    background-color: #91b5d0;
    padding: 5px 40px;
    border: 1px solid black;
    margin-left: 50px;
    margin-right: 50px;
    color: #927c66;
    text-transform: Uppercase;
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: maroon;
}

a:hover {
    color: yellow;
    font-style: italic;
}

ul {
    font-weight: bold;
}

footer {
    font-style: italic;
    font-size: 0.75em;
    color: #333333;
}

nav {
    font-weight: bold;
    text-align: center;
}

.company {
    font-size: 1.25em;
    font-weight: bold;
}

.feature {
    color: #bd2b4f
}

#wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-image: url(island.jpg);
}

table caption {
    font-size: 1.25em;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
    margin: auto;


}

#firstRow {
    background-color: blueviolet;
}

#thirdRow {
    background-color: cornflowerblue;

}