body {
    background-color: #ecf7ff;
    color: #001a13;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

h1 {
    background-color: #91a8d0;
    color: GhostWhite;
    text-align: center;
}

h2 {
    background-color: #91b5d0;
    color: AliceBlue;
    font-family: Tahoma, Geneva, sans-serif;
}

p {
    font-size: 1em
}

a {
    color: #927c66;
    text-transform: Uppercase;
}

ul {
    font-weight: bold;
}

footer {
    font-style: italic;
    font-size: 0.75em;
    color: #333333;
}

nav {
    font-weight: bold;
    text-align: center;
}

.company {
    font-size: 1.25em;
    font-weight: bold;
}

.feature {
    color: #bd2b4f
}

#wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}